<h1>Register</h1>
{{#link-to "login"}}Login{{/link-to}}
<form>
    <input type="text" placeholder="full name" name="name"/>
    <input type="text" placeholder="username" name="username"/>
    <input type="text" placeholder="password" name="password"/>
    <input type="submit" value="Register"/>    
</form>

